<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro - register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div align="justify" class="container">
      <h1>Please register</h1>
      <br>
      <form action="" method="post">
         <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"<br><br>
         <input type="text" placeholder="Email" name="email" value="{{
          request.form.email }}"><br><br>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
         <input class="btn btn-default" type="submit" value="register">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
      {% for message in get_flashed_messages() %}
          {{ message }}
      {% endfor %}
      <p>Click <a href="login">here</a> to login</p>
    </div>
  </body>
</html>
