<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro - register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div align="justify" class="container">
      <h1>Please register</h1>
      <br>
      <form action="{{ url_for('main.register') }}" method="POST">
         {{ form.csrf_token }}
         {{ form.username(placeholder="username") }}<br>
         {{ form.email(placeholder="email") }}<br><br>
         {{ form.password(placeholder="password") }}<br>
         {{ form.confirm_password(placeholder="confirm password") }}
         {{ form.submit }}
      </form><br>
      {% if error %}
        <p class="error" style="color:red"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
      {% for error in form.username.errors %}
            <p class="error" style="color:red"><strong>Error:</strong>{{ error }}</p>
      {% endfor %}
      {% for error in form.email.errors %}
            <p class="error" style="color:red"><strong>Error:</strong>{{ error }}</p>
      {% endfor %}
      {% for error in form.password.errors %}
            <p class="error" style="color:red"><strong>Error:</strong>{{ error }}</p>
      {% endfor %}
      {% for message in get_flashed_messages() %}
            <p class="flash" style="color:green"><strong>>>></strong>{{ message }}</p>
      {% endfor %}
      <p>Click <a href="login">here</a> to login</p>
    </div>
  </body>
</html>
