<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <h2>Welcome to Flask!</h2>
        <br>
        <p>Click <a href="/">here</a> to go home.</p>
        <br>
        <p>Click <a href="/logout">here</a> to log out.</p>
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
    </div>
  </body>
</html>
